body {
  font-size: 16px;
}
body main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 920px) {
  body main {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  body main {
    flex-direction: row-reverse;
  }
}

.top__logo {
  margin-left: 1.2rem;
}
.top__logo img {
  width: 6.6rem;
  padding: 1.8rem 0;
}
@media screen and (min-width: 920px) {
  .top__logo {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .top__logo {
    display: none;
    margin: 0;
  }
}

.top__hero {
  width: 100%;
  height: 65vh;
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}
@media screen and (min-width: 920px) {
  .top__hero {
    background-image: url(../images/hero-desktop.jpg);
    width: 43vw;
    height: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .top__hero {
    background-image: url(../images/hero-desktop.jpg);
    width: 45vw;
    height: 100%;
  }
}

.bottom {
  padding: 2rem;
}
.bottom__logo {
  display: none;
}
@media screen and (min-width: 920px) {
  .bottom__logo {
    display: block;
    margin: 2rem 0 8rem 8rem;
  }
  .bottom__logo img {
    width: 9rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .bottom__logo {
    display: block;
    margin: 2rem 0 8rem 2rem;
  }
  .bottom__logo img {
    width: 8rem;
  }
}
.bottom__head {
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  word-spacing: 15rem;
}
@media screen and (min-width: 920px) {
  .bottom__head {
    font-size: 51px;
    margin: 0 10rem 1rem 8rem;
    text-align: left;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .bottom__head {
    font-size: 48px;
    margin: 0 0 1rem 2rem;
    text-align: left;
  }
}
.bottom__head span {
  padding: 2rem;
  color: var(--red);
}
@media screen and (min-width: 920px) {
  .bottom__head span {
    padding: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .bottom__head span {
    padding: 0;
  }
}
.bottom__body {
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  text-align: center;
  color: var(--red);
  margin-bottom: 2rem;
}
@media screen and (min-width: 920px) {
  .bottom__body {
    margin: 0 10rem 3rem 8rem;
    text-align: left;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .bottom__body {
    margin: 0 1rem 3rem 2rem;
    text-align: left;
  }
}

.email {
  width: 100%;
  height: 12vh;
  padding: 0 1rem;
  border-radius: 1.5rem;
  border: 1.8px solid var(--red);
  outline: none;
  position: relative;
}
.email::placeholder {
  color: var(--red);
}
@media screen and (min-width: 920px) {
  .email {
    width: 30vw;
    height: 3.2rem;
    margin: 0 8rem 2.1rem 8rem;
    padding: 0 1.2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .email {
    width: 30vw;
    height: 3rem;
    margin: 0 1rem 0 2rem;
    padding: 0 1.2rem;
  }
}
.email__arrow {
  border-radius: 1.8rem;
  cursor: pointer;
  outline: none;
  border: 0;
  position: absolute;
  right: 2rem;
  width: 4rem;
  height: 2.6rem;
  background-color: var(--red);
  text-align: center;
}
.email__arrow img {
  margin-top: 0.2rem;
}
@media screen and (min-width: 920px) {
  .email__arrow img {
    margin-top: 0.1rem;
  }
}
@media screen and (min-width: 920px) {
  .email__arrow {
    left: 18.5rem;
    width: 5rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 970px) {
  .email__arrow {
    left: 21rem;
  }
}
@media screen and (min-width: 1018px) {
  .email__arrow {
    left: 23.5rem;
  }
}
@media screen and (min-width: 1080px) {
  .email__arrow {
    left: 26.3rem;
  }
}
@media screen and (min-width: 1160px) {
  .email__arrow {
    left: 29rem;
    width: 6rem;
  }
}
@media screen and (min-width: 1325px) {
  .email__arrow {
    left: 32rem;
    width: 6rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .email__arrow {
    position: relative;
    margin-left: -3rem;
    top: 0.3rem;
    width: 5rem;
    height: 3rem;
  }
}

.error {
  color: var(--soft-red);
  margin: 1rem 0 0 1rem;
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .error {
    margin-left: 3.2rem;
  }
}
@media screen and (min-width: 920px) {
  .error {
    margin-left: 9.3rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1033px) {
  .error {
    margin-top: -1rem;
  }
}

.icon_error {
  position: relative;
  margin-left: -6rem;
  top: 0.5rem;
  visibility: hidden;
}
@media screen and (min-width: 600px) and (max-width: 919px) {
  .icon_error {
    margin-left: -8.8rem;
  }
}
@media screen and (min-width: 920px) {
  .icon_error {
    margin-left: -12.5rem;
  }
}
@media screen and (min-width: 1018px) {
  .icon_error {
    margin-left: -13rem;
  }
}
@media screen and (min-width: 1033px) {
  .icon_error {
    margin-left: 20rem;
    top: -2.3rem;
  }
}
@media screen and (min-width: 1080px) {
  .icon_error {
    margin-left: 23rem;
    top: -2.3rem;
  }
}
@media screen and (min-width: 1160px) {
  .icon_error {
    margin-left: 25rem;
    top: -2.3rem;
  }
}
@media screen and (min-width: 1325px) {
  .icon_error {
    margin-left: 28rem;
    top: -2.3rem;
  }
}

/*# sourceMappingURL=layout.css.map */
